.mainDivNot {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .mainDivNot {
    flex-direction: column;
  }
}

.divImageNot {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .divImageNot {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
  }
}

.divImageNot img {
  width: 100%;
}

.divTextNot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divTextNot p {
  padding: 20px;
  text-align: center;
  font-family: Mali, cursive;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 600px) {
  .divTextNot p {
    font-size: 20px;
  }
}

.linksNot {
  text-decoration: none;
  color: #253659;
  font-weight: 900;
}
